<%= form_for(comment, url: video_add_comment_path(@video), remote: true) do |f| %>
  <%= errors_summary(comment) %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :seconds_from_start %>
    <%= f.text_field :seconds_from_start %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
