<div class="container-fluid">
  <video width="320" height="240" controls>
    <source src="<%= @video.public_url %>" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <%= link_to "Gud shit.", video_like_path(@video, liked: true), method: :post, class: "likebtn", remote: true %>
  <%= link_to "fuck this.", video_like_path(@video, liked: false), method: :post, class: "likebtn", remote: true%>

  Views: <%= @video.view_count %>

  <%= render(@video.comments) %>
</div>
