<div class="container-fluid">
  <video width="320" height="240" controls>
    <source src="<%= @video.public_url %>" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <%= render partial: "liked" %>
  Views: <%= @video.view_count %>

  <div class="comments">
    <% @video.comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
  <div class="add-comment">
    <%= render "add_comment", video: @video, comment: Comment.new %>
  </div>
</div>
